@font-face {
  font-family: "DIN";
  src: url("../font/DINWebPro.eot");
  src: url("../font/DINWebPro.eot?#iefix") format("embedded-opentype"), url("../font/DINWebPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DIN";
  src: url("../font/DINWebPro-Bold.eot");
  src: url("../font/DINWebPro-Bold.eot?#iefix") format("embedded-opentype"), url("../font/DINWebPro-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "DIN";
  src: url("../font/DINWebPro-Light.eot");
  src: url("../font/DINWebPro-Light.eot?#iefix") format("embedded-opentype"), url("../font/DINWebPro-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}




.loading {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 400px;
  height: 300px;
}

.fa {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}

.mainlogo {
  display:block;
  height:49px;
  margin: 0 auto 10px auto;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}



@media (min-width:1200px) {
  .showOnHover {
    visibility: hidden;
  }

  div:hover > .showOnHover,
  li:hover > .showOnHover,
  tr:hover .showOnHover {
    visibility: visible;
  }
}

.fixedFullArea {
  position: absolute;
  top: headerHeight;
  right:0;
  left: navigatorWidth;
  bottom:0;
}

.listLink {
  color:inherit !important;
  text-decoration:none !important;
  display:inline-block;
  width:100%;
}

@media (max-width:992px) {
  .fixedFullArea {
    left: 0px;
  }
}

.table-borderless td,
.table-borderless tr,
.table-borderless th {
  border: 0 !important;
}

.interact {
  cursor: pointer;
}

.long-text {
  word-wrap: break-word;
}

.alerts {
  position: fixed;
  right: 30px;
  top: 55px;
  width: 400px;
  z-index: 2000;
}

.dropdown-menu {
  text-transform: none;
}

// FIXME: after nvd3 upgrades this correction in css we can remove this
.leaflet-container svg {
  width: auto;
  height: auto;
}

.userName {
  display: inline-block;
  max-width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  text-align:right;
  padding-left:10px;
}

.draggableCursor {
  cursor: move;
}

@media (max-width:768px) {
  .alerts {
    left:15px;
    right:15px;
  }
}

// Lady Firefox fix.
.table {
  clear: both;
}
