.password-strength {
  width: 180px;
  margin-bottom: 20px;
}

.password-strength > div {
  background-color: lighten(@grey, 10%);
  width: 100%;
  height: 4px;
  overflow: hidden;
  position: relative;
}

.password-strength > .password-strength-label {
  color: @grey;
  float: left;
}

.password-green, .password-yellow, .password-red {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.password-green {
  width: 100%;
}

.password-yellow {
  width: 50%;
}

.password-red {
  width: 25%;
}
