.realtime-animation-list.ng-enter,
.realtime-animation-list.ng-change {
    -webkit-transition: 2s linear all;
    -moz-transition: 2s linear all;
    -o-transition: 2s linear all;
    transition: 2s linear all;
    background-color: realtimeStart;
}

.realtime-animation-list.ng-enter-active,
.realtime-animation-list.ng-change {
  background-color: realtimeEnd;
}

.realtime-on {
	color: realtimeOn;
}

.realtime-off {
	color: realtimeOff;
}
