.statusOk {
  color: @green;
}

.statusNok {
  color: @red;
}

.statusAlert {
  color: @yellow;
}

.statusUnknown {
  color: lighten(@grey, 45);
}

.status.warning, .color.warning {
  color: @mainColor;
}

.status.minor, .color.minor {
  color: @yellow;
}

.status.major, .color.major {
  color: @orange;
}

.status.critical, .color.critical {
  color: @red;
}
