div.breadcrumbs {
  margin-top: -15px;
  .btn-show-all-breadcrumbs {
    margin-right: -15px;
    margin-top: -5px;
    padding: 6px 1px;
    position: absolute;
  }
  ul.breadcrumbs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: -15px;
    margin-bottom: 15px;
    margin-left: 30px;

    &.li {
      display: inline;
    }
    .fa-{
      display:none;
    }
  }
}
