//
// Buttons
// --------------------------------------------------

// Common styles
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0,0,0,.1);
  border-radius: @btn-border-radius;

  //padding: 10px 20px;

  // Reset the shadow
  &:active,
  &.active {
    .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }
}

.input-group-btn{
  .btn{
    border-radius: 4px;
  }
}


// Mixin for generating new styles
.btn-styles(@btn-color: #555) {
  background-image: none;
  background: @btn-color;
  border-color: @btn-color;
  @shadow: inset 0 -4px 0 darken(@btn-color, 4%);
  box-shadow: @shadow;


  &:hover,
  &:focus  {
    background-color: darken(@btn-color, 12%);
    background-position: 0 0;
    border-color:transparent;
    //color:white;

  }

  &:active,
  &.active {
    background-color: darken(@btn-color, 12%);
    border-color: darken(@btn-color, 4%);
    .box-shadow(inset 0 0 2px rgba(0,0,0,.1));
  }
}

.btn{
  background-color:transparent;

  .btn-styles(@btn-default-bg);
  //text-shadow: 0 1px 0 #fff;
  color: @gray;
  border-radius: 2px;
  border-color: #e9e9e9;

  &:hover{
    color: @darker;
  }
  *{
    .transition(all 0s)
  }
}

.input-group-btn .btn{
  box-shadow: none;
}



// Apply the mixin to the buttons
.btn-default { .btn-styles(@btn-default-bg);   border-color: #e9e9e9; color:@gray; }
.btn-primary { .btn-styles(@btn-primary-bg); color:@bgColor;}
.btn-success { .btn-styles(@btn-success-bg); }
.btn-info    { .btn-styles(@btn-info-bg); }
.btn-warning { .btn-styles(@btn-warning-bg); }
.btn-danger  { .btn-styles(@btn-danger-bg); color:white }

.btn-primary + .btn-primary{
  margin-left: 30px;
}

.btn-primary:hover{ color:white;}

.btn-link {
  background: transparent;
  border: none;
  color: @mainColor !important;
  .box-shadow(none);

  &:hover {
    background: transparent;
    text-decoration: none;
    color: @darker;
  }
}

.btn-group{
   .btn.btn-default{
    color:@darker;
   }
  .btn.btn-default:hover{
    background-color: darken(@bgColor, 12%)
  }
  .btn.btn-default:focus{
    background-color: lighten(@bgColor, 12%);
  }
  .btn-default:active, .btn-default.active{
    color: @darker;
     @shadow: inset 0 -4px 0 @brand-primary;
     .box-shadow(@shadow);
  }
}


.btn + .btn{
  margin-left: 6px;
}
