.mcontainerHorizontal {
  padding: 50px 15px 15px !important;
  margin-top: 0 !important;
  .tabContainer{
    margin-left: 0;
    margin-right: -15px;
    margin-bottom: 0!important;
    padding-right: 0 !important;
    font-size: 12px;
    z-index: 10;
  }
  .tabs_ctrl {
    padding-top:10px;

    .nav-tabs {
      width: 100%;
      margin-bottom: 0!important;
    }

    .nav-tabs > li {
      display: inline-block;
    }
  }

  .tabs_ctrl + .container-fluid{
      margin-left: 0 !important;
  }

}



.mcontainerHorizontal .nav-tabs > .active{
  background-color: darken(white, 1%);
}

.mcontainerHorizontal .tabs_ctrl +.container-fluid{

  background-color: darken(white, 1%);
  padding: 20px;
  border-top: 1px solid @brand-primary;
  margin-top: -1px;
  .breadcrumbs{
    margin-top: 0;
  }
}


.mcontainer {
  padding: 10px 15px 15px;
  margin: @headerHeight 0 0 @navigatorWidth;

  @media(max-width: @screen-xs-max){
    .mcontainerHorizontal;
  }

  >.title{
    margin-left: 0;
    margin-top: 14px;
  }
  .tabContainer{
    padding-right:15px;
    margin-bottom:60px;
  }

  .tabs_ctrl + .container-fluid{
    margin-left: @navigatorWidth/3*2+15;
  }

  &.noAppsMargin {
    margin-left: 0
  }
}

@media (max-width:@grid-float-breakpoint) {
  .mcontainer {
    margin-left:0;
    padding-left: 15px;
  }
}

.titleHorizontal {
  position: static;
  margin-bottom: 30px !important;
  h1{
    font-size: 18px;
  }
}

.title{
  text-transform: uppercase;
  font-weight: 200;
  margin-bottom: 15px;
  min-height:28px;

  h1 {
    font-size: 26px;
    margin: 0;
    display: inline-block;
    color:@darker;
    font-weight: 200;

    &:before{
      height: 20px;
      width: 20px;
      content: '';
      background-color: @brand-primary;
      display: inline-block;
      margin-right: 8px;
    }
    &:empty{
      display: none;
    }
  }
  @media(max-width:@screen-xs-max){
    .titleHorizontal;
  }
}












