.modal-content {
  border-radius: 0px;
}

.modal-header {
  background-color: @modal-header;
  padding: 11px 20px 8px;
  border:0;
}

.modal-header h3 {
  color: @modal-header-text;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
  padding: 0;
}

.modal-header .btn-modal-close {
  color: @modal-header-text;
  font-size: 15pt;
  position: relative;
  top: -8px;
  right: -8px;
}

.modal-body h4 {
  font-size: 20pt;
  text-align: center;
}

.modal-footer {
  padding: 15px 20px;
  text-align: center;
}

.modal-footer .btn {
  text-transform: uppercase;
}


@media (min-width: 768px){
  .modal-dialog {
    margin: 60px auto;
  }
}
