/* Navigator */
.navigator {
  width: @navigatorWidth;
  position: fixed;
  overflow-y: auto;
  top: 0;
  padding-bottom:50px;
  padding-top:10px;
  bottom: 0;
  left: 0;
  z-index:1000;
  color:white;
  .transition(all 0.2s ease);

  // *{
  //   .transition(all 0.2s ease);
  // }

  &.open {
    .translate(0);
  }

  @media (max-width:@grid-float-breakpoint) {
      box-shadow: 0 0 5px rgba(0,0,0,0.3);
      .translate(-(@navigatorWidth));
  }

  &::-webkit-scrollbar{
    width: 4px;  /* for vertical scrollbars */
    height: 4px; /* for horizontal scrollbars */
  }


  .title {
    color:@blueish;
    font-size: 16px;
    display: inline-block;
    font-weight: 200;
    text-transform: uppercase;
    padding-left: 15px;
    position: absolute;
    left: 0;
    top:0;
    margin:0;
    right: 0;
    height: @headerHeight;
    background-color: @navColorHeader;
    line-height: 42px;
    white-space: nowrap;
  }

  &.minheight {
    height: @headerHeight;
    padding-bottom: 0;
    padding-top: 0;
  }



  .form-control{
    opacity: .3;
    &:focus{
      opacity: 1;
    }
  }

  .input-group-btn{
    .btn-default{
      opacity: .5;
      padding: 6px 12px;
      color: @darker;
      &:hover{
        opacity: 1;
        color:@darker;
      }
    }
    &.open{
      .btn-default{
        opacity: 1;
      }
    }
  }

  .powered-by {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 11px;
    background: @navColor;

    p {
      margin: 4px;
      height: 15px;
      text-align: center;
      color: fadeout(contrast(@navColor), 70%)
    }
  }
}



.navigatorBtn {
  display:none;
  float: left;
  cursor:pointer;
  padding-left:10px;
}

// Navigator content
.navigatorContent{
  background-color: @navColor;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: @headerHeight;
  bottom: 23px;
  right: 0;
  left: 0;
  overflow: auto;
  padding-top:10px;

  ul{
    list-style:none;
  }

  .children{
    margin:0;
    padding:0;
    // Remove the blue border
    // border-left: 3px solid fade(@brand-primary, 50%);
    .children{
      border-left:0;
    }

    li {
      background-color: fade(@gray, 2%);

      > .link{
        padding-left: 35px;
        z-index: 0;

        span{
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          display: inline-block;
          max-width: 75%;
          vertical-align: middle;
        }

      }
      li > .link{
        padding-left: 58px;

      }
      li  li > .link{
        padding-left: 81px;
      }
    }
  }

  .link {
    color: @bgColor;//lighten(@darker, 20%);
    position: relative;
    display:block;
    font-size:13px;
    text-decoration:none;
    padding:3px 5px 3px 15px;
    line-height:25px;

    &:before{
      position: absolute;
      content:'';
      width: 0;
      height: 100%;
      top:0;
      left: 0;
      background-color: @brand-primary;
      z-index: -1;
      .transition(all 0.2s ease);
    }

    &:after{
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 16px 0 16px 0;
      border-color: transparent transparent transparent @gray-lighter;
      left:0;
      top:0;
      .transition(all 0.2s ease);
    }

    &.parent {
      font-size: 12px;
      text-transform: uppercase;
      padding:15px 5px 15px 15px;
      line-height: 10px;
      position: relative;
      color: @bgColor;

      &:hover{
        background-color: transparent;
        color: @bgColor;

        &:after{
          border-width: 21px 0 21px 10px;
        }

      }

      .icon {
        font-size: 1em;
        color: @brand-primary;
        display: inline-block;
      }

      .fa-plus{
        float: right;
        margin-right: 10px;
        .rotate(45deg);
      }


      &.closed {
        color:@blueish;

        .icon{
          color: @blueish;
        }

        .fa-plus{
          .rotate(0);
        }

        &.active{
          color: white;

          .icon{
            color: white;
          }

          .fa-plus{
            margin-right: 0;
          }

        }

      }

      &.active{
        color: white;

        .icon{
          color: white;
        }

        .fa-plus{
          margin-right: 0;
        }

        &:after{
          border-width: 21px 0 21px 10px;
        }

        + .children{
          border-left-color: @brand-primary;
        }
      }

    }
  }

  .link:hover{
    background-color: fade(@gray, 5%);
    color: @bgColor;

    &:after{
      border-left-color: @brand-primary;
      border-width: 14px 0 14px 10px;
      left:0;
      right: 0;
      .transition(all 0s ease);
    }

  }

  .link.active{
    color: @bgColor;
    margin-right: 10px;

    &:before{
      width: 100%;
      .transition(all 0.2s ease);
    }

    &:after{
      border-left-color: @brand-primary;
      border-width: 16px 0 16px 10px;
      left: 100%;
      .transition(all 0.2s ease);
    }

  }

  .slot {
    position: relative;
    border-top:1px solid lighten(@darker, 3%);
    border-bottom:1px solid darken(@darker, 3%);
    z-index: 0;
    color: white;

    .slot:last-child {
      border-bottom:0;
    }

    .loadingIndicator {
      position: absolute;
      opacity: 0.3;
      top: 50%;
      margin-top: -8px;
      right: 10px;
    }

  }



  .editing {
    background-color: @mainColor !important;
    opacity: 1;
    color: #FFF !important;
  }

  .icon {
    font-size: 16px;
    display: inline-block;
    width: 15px;
    text-align:center;
    margin-right: 5px;
  }

  .empty, .showMore {
    font-size:0.93em;
    opacity: 0.6;
    font-style: italic;
  }

  .link.empty:hover {
    background-color: transparent;
    opacity: 0.8;
  }

}



.navigatorContent .children li li > a {padding-left: 58px;}
.navigatorContent .children li li li > a {padding-left: 70px;

}
.navigatorContent .children li li li li > a {padding-left: 50px;}
.navigatorContent .children li li li li li > a {padding-left: 60px;}
.navigatorContent .children li li li li li li > a {padding-left: 70px;}
.navigatorContent .children li li li li li li li > a {padding-left: 80px;}
.navigatorContent .children li li li li li li li li > a {padding-left: 90px;}
.navigatorContent .children li li li li li li li li li > a {padding-left: 100px;}
.navigatorContent .children li li li li li li li li li li > a {padding-left: 110px;}



// EDIT MODE

.editMode{
  .navigatorContent .link {
    opacity: 0.5;
    cursor: default;
    &:hover, &.active{
      background-color: transparent;
      color: fade(@bgColor, 50%);
    }
  }
}
/* end Navigator */
