
//
// Panels
// --------------------------------------------------

// Common styles
.panel {
  .box-shadow(0 0 1px rgba(0,0,0,.2));
  border:0;
  border-radius: 0;
}

// Mixin for generating new styles
.panel-heading-styles(@color) {
  box-shadow: inset 0 -4px rgba(0,0,0,.1);
}

// Apply the mixin to the panel headings only
.panel-default > .panel-heading   { .panel-heading-styles(@panel-default-heading-bg); }
.panel-primary > .panel-heading   { .panel-heading-styles(@panel-primary-heading-bg); }
.panel-success > .panel-heading   { .panel-heading-styles(@panel-success-heading-bg); }
.panel-info > .panel-heading      { .panel-heading-styles(@panel-info-heading-bg); }
.panel-warning > .panel-heading   { .panel-heading-styles(@panel-warning-heading-bg); }
.panel-danger > .panel-heading    { .panel-heading-styles(@panel-danger-heading-bg); }


.panel-default, .panel-clean{

  > .panel-heading{
    background-image: none;
    //background-color: white;
    position: relative;
    border-radius: 0;
    border-bottom: 1px solid #d9d9d9;
    .box-shadow(none);
    text-transform: uppercase;
    font-weight: 200;
    padding: 20px 15px 10px;
    color:@gray-dark;
  }
}

.panel-clean{
  &.panel{
    background-color: transparent;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
  }
  label{
    color: @gray;
    font-size: 12px;
    text-transform: uppercase;
  }
  .panel-heading{
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    //border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;


    h2{
      margin-top: 0;
    }

  }
  .panel-body{
    padding-left: 0;
    padding-right: 0;
    .form-group label span{
      text-transform: none;
      color: @brand-primary;
      font-weight: 200;
    }

    input[type="number"].form-control{
      max-width: 70px;
      display: inline-block;
      &:before{
        display: block;
      }
      & + span{
        border:0;
        padding: 6px;
      }
    }
    label.noicon {
      cursor: default;
      &:after {
        content: ''
      }
    }
    label{
      width: 100%;
      cursor: pointer;
      &:after{
        display: inline-block;
        width: 1.25em;
        margin-left: 5px;
        text-align: center;
        font-family: 'FontAwesome';
        content: "\f040";
        color: @brand-primary;
      }
      & + .form-control{
        background-color: transparent;
        box-shadow: none;
        padding: 0;
        border:0;
        font-size: 18px;
        .transition(all 0.2s ease);
        @media(max-width:@screen-xs-max){
          font-size: 14px;
        }
        &.direct-edit{
          font-size: 14px;
          padding: 6px 12px;
          background-color: white;
          border: 1px solid #ccc;
        }
        &:focus{
          .transition(all 0.2s ease);
          font-size: 14px;
          padding: 6px 12px;
          background-color: white;
          border: 1px solid #ccc;
          .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
        }

      }
    }
  }
}
