/***************
PANEL DASHBOARD
****************/
.panel.panel-dashboard{
  overflow: inherit;
  left:15px;
  right: 15px;
  bottom:0;
  margin-bottom: 15px;
  background-color: transparent;
  .box-shadow(none);
  .optionsBtn{
    font-size: 14px;
    .btnIcon{
      color: @blueish;
      &:hover{
        color: @brand-primary;
      }
    }
  }

  + .ui-resizable-handle{
    right:20px;
    bottom: 15px;
  }

  > .panel-heading{
    border-radius: 0;
    line-height: 25px;
    font-size: 10px;
    letter-spacing: 0.05em;
    padding: 5px 15px 0;
    color: @gray;
    background-color: fade(@mainColor, 10%);

    + .panel-body{
      padding: 0;
      position: absolute;
      left:0;
      right: 0;
      top: 31px;
      bottom: 0;
      overflow: auto;
      background-color: fade(white, 80%);
      .box-shadow(0 1px 1px fade(black, 15%));

      > p:first-child, >h1, >h2, >h3, >h4, > div:first-child{
        margin-top: 15px;
        padding-left:15px;
        padding-right:15px;
      }
      .table{
        h1, h2,h3,h4{
          margin: 15px 0 0;
        }
        tr{
          td:first-child, th:first-child{
            padding-left:15px;
          }
          td:last-child, th:last-child{
            padding-right:15px;
          }
        }
        tbody tr:first-child td{
          border-top:0;
        }
      }
    }
  }
}
