* {
  &::-webkit-scrollbar{
    width: 8px;  /* for vertical scrollbars */
    height: 8px; /* for horizontal scrollbars */
  }

  &::-webkit-scrollbar-track{
    background: rgba(255, 255, 255, 0.1);
  }

  &::-webkit-scrollbar-thumb{
    background: rgba(200, 200, 200, 0.6);
  }
}

ul.navigatorContent {
  &::-webkit-scrollbar-track{
    background: rgba(255, 255, 255, 0.1);
  }

  &::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.5);
  }
}