// Tabs
// -------------------------

.tabContainerHorizontal {
  position: relative !important;
  //height: 50px;
  overflow: hidden;
}

.tabContainer {
  position: absolute;

  @media(max-width:@screen-xs-max) {
    .tabContainerHorizontal;
  }
}

.navTabsHorizontal {
  //height: 60px;
  font-size: 1.4em;
  text-align: justify;
  overflow-x: auto;
  overflow-y: hidden;
  white-space:nowrap;

  li {
    text-align: center;
  }

  li > a {
    padding: 8px 12px;
    @media(max-width: @screen-xs-max){
      padding: 16px 8px 5px;
    }
    span {
      font-size:12px;
    }
  }
}

.nav-tabs {
  width: @navigatorWidth/3*2;
  border:0;
  @media(max-width:@screen-xs-max){
    .navTabsHorizontal;
  }
}


.navTabsc8yHorizontal {
  > li {
    > a {
      border-top: 3px solid transparent;
      span, i{
        color: @gray;
      }
      i {
        @media(max-width: @screen-xs-max){
          display: block;
        }
        margin: 0 auto;
      }
      &:hover, &:focus {
        border-left: 0;
        border-right: 0;
        border-top-color: @brand-primary;
        span{color: @gray-dark};
        i{color: @brand-primary;};
      }
      &:before {
        width: 100%;
        height: 1px;
        top: 86%;
      }
      &:after {
        border: 0;
      }
      &:hover {
        color: @brand-primary;
        &:before {
          width: 100%;
        }
        &:after {
          border: 0 !important;
        }
      }
    }
    &.active > a {
      color: @brand-primary !important;
      border-top: 3px solid @brand-primary !important;
      background-color: transparent;
      span{
        color: @gray-dark;
      }
      i{ color: @brand-primary;}
      &:after {
        border: 0 !important;
      }
      &:before{
        background-color:transparent !important;
      }
    }
  }
}

.nav-tabs.nav-tabsc8y {
  @media(max-width: @screen-xs-max){
    .navTabsc8yHorizontal;
  }

  > li {
      float: none;
    > a {
      border-radius: 0;
      border:0;
      color:@darker;
      position: relative;
      margin: 0;
      &:before{
        position: absolute;
        content:'';
        width: 0;
        height: 100%;
        top:0;
        left: 0;
        background-color: @brand-primary;
        z-index: -1;
        .transition(all 0.2s ease);
      }
      &:after{
        position: absolute;
        content: '';
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 20px 0 20px 0;
        border-color: transparent;
        left:0;
        top:0;
        .transition(all 0.2s ease);
      }

      &:hover {
        background-color: transparent;
        color:@gray-dark;

        &:before{
          width: 0;
        }
        &:after{
          border-left-color: @brand-primary;
          top:5px;
          border-width: 14px 0 14px 10px;
          .transition(all 0.2s ease);
        }
      }
    }

    &.active > a {
      box-shadow: none;
      border:0;
      color:white;
      &,
      &:focus {
        @media(min-width: @screen-sm-min){
          color: white;
        }
        background-color: transparent;
        cursor: default;
        &:before{
          width: 100%;
          .transition(all 0.2s ease);
        }
        &:after{
          border-left-color: @brand-primary;
          border-width: 20px 0 20px 10px;
          top:0!important;
          left: 100%;
          .transition(all 0.2s ease);
        }
      }
    }
  }
}
