// fonts
@font-path: '../font/';
@font-family-sans-serif:  monospace, Helvetica, Arial, sans-serif;



// Colors
@brand-primary:         #FF9900;
@darker:                #2c3637;//#1F2328;//#031315;
@darker-header:         #49595B;
@darker-header-overlay: #3C4849;
@green:                 #7AB91A;
@orange:                #FFAE2C;
@yellow:                #FFE031;
@blueish:               #A4C8CD;


@mainColor:             @brand-primary;
// @headerColor:           @darker-header;
@headerColor:           @orange;
@bgColor:               #FAFAFA;
// @navColor:              @darker;
@navColor:              darken(@headerColor, 30%);
// @navColorHeader:        @darker-header-overlay;
@navColorHeader:        darken(@navColor, 30%);
@textColor:             #333;
@red:                   #D90000;
@yellow:                #FDC000;
@green:                 #00B259;
@grey:                  #808080;
@orange:                #FF8000;
@link-color:            @brand-primary;
@modal-header:          #3BB2CD;
@modal-header-text:     #FFF;

@navigatorWidth:        230px;
@headerHeight:          40px;
@smallBreakpoint:       992px;
@grid-float-breakpoint: @screen-md-max;

@nav-tabs-border-color: @gray;
@nav-tabs-active-link-hover-color: @brand-primary;


@gray-darker:           @darker;//lighten(#000, 13.5%); // #222
@gray-dark:             #6B7475;//lighten(#000, 20%);   // #333
@gray:                  #8F9EA2;//lighten(#000, 33.5%); // #555
@gray-light:            #E5E7E7;//lighten(#000, 60%);   // #999
@gray-lighter:          #f3f3f3;//lighten(#000, 93.5%); // #eee



@btn-border-radius:     0;
@border-radius-base:    0;
@border-radius-large:   0;
@border-radius-small:   0;

@btn-border-radius:     0;
