<div data-ng-controller="deviceListMapVPCtrl">
  <div class="navbar clearfix">
    <ul class="nav navbar-right">
      <li class="navbar-form">
      	<c8y-realtime-btn class="btn btn-link"></c8y-realtime-btn>
        <c8y-refresh-btn></c8y-refresh-btn>
      </li>
    </ul>
  </div>

  <leaflet markers="markers" bounds="bounds"  center="center" defaults="mapDefaults" class="fixedFullArea" style="top: 140px;"></leaflet>

</div>
